# Server
PORT=5000
NODE_ENV=development
# NODE_ENV=production  # Uncomment untuk production

# Database PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=persuratan
DB_USER=postgres
DB_PASSWORD=

# CORS
CORS_ORIGIN=http://localhost:3000
# CORS_ORIGIN=https://your-production-frontend.com  # Uncomment untuk production

# JWT - GANTI DENGAN STRING RANDOM YANG PANJANG!
JWT_SECRET=727e62d0ecae584084588ccba04b668a04946fd60620b4e0255f50f20d84f0795d7400cbdcef282fef5075a87de2714cff936e03014998da7527634c02f48d4b
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=d72bc23b51370680f01924cab21230c1c3765e819719a42ef9ccad0c5f63f8e6a43436e6c3bee4d44877b57b9517218aeceacf8e4c594af1d2f3e42df81416cc
JWT_REFRESH_EXPIRES_IN=7d


# SSL Configuration (Production only)
SSL_ENABLED=false
# SSL_ENABLED=true  # Uncomment jika sudah punya SSL cert

# Rate Limiting
RATE_LIMIT_WHITELIST=
# RATE_LIMIT_WHITELIST=127.0.0.1,::1  # IP yang di-whitelist

# Logging
LOG_LEVEL=info
# LOG_LEVEL=error  # Production bisa pakai error only